<ion-header>
  <!-- TOOLBAR -->
  <ion-toolbar color="colortoolbar">
    <ion-buttons slot="start">
      <ion-button (click)="mostrarMenu()">
        <ion-icon slot="start" name="menu-outline" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>RegistrAPP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>


      <ion-card-title class="tituloqs">
        ¿Quiénes somos?
      </ion-card-title>
      <br>
      <br>

      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean gravida enim et massa pulvinar interdum. Nulla
        facilisi. Vivamus nibh risus, finibus in mi eu, fermentum ornare urna. Curabitur placerat eget sapien ac
        placerat. Nulla porta orci sit amet tellus.
      </p>
      <h2><strong>RegistrAPP</strong></h2>

      <ion-item class="transparencia">
        <img src="assets/grupo.png">
      </ion-item>






    </ion-card-content>
  </ion-card>
</ion-content>